body {
    background: #ff5f6d;
    background: -webkit-linear-gradient(to right, #00001a, #00004d);
    background: linear-gradient(to right, #00001a, #00004d);
    min-height: 100vh;
    font-family: 'Sanchez', serif;
}

h6,a,p {
    color: white;
    font-size: 15px;
    text-decoration: none;
}