<footer style="background-color: darkblue;">
    <div class="container py-3">
        <div class="row py-3">
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">About</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a href="#" >Contact Us</a></li>
                    <li class="mb-2"><a href="#" >About Us</a></li>
                    <li class="mb-2"><a href="#" >Stories</a></li>
                    <li class="mb-2"><a href="#" >Press</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Help</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a href="#" >Payments</a></li>
                    <li class="mb-2"><a href="#" >Shipping</a></li>
                    <li class="mb-2"><a href="#" >Cancellation</a></li>
                    <li class="mb-2"><a href="#" >Returns</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Policy</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a href="#" >Return Policy</a></li>
                    <li class="mb-2"><a href="#" >Terms Of Use</a></li>
                    <li class="mb-2"><a href="#" >Security</a></li>
                    <li class="mb-2"><a href="#" >Privacy</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Company</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a routerLink="/login">Login</a></li>
                    <li class="mb-2"><a routerLink="/signup">Register</a></li>
                    <li class="mb-2"><a href="#">Sitemap</a></li>
                    <li class="mb-2"><a href="#">Our Products</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Registered Office Address</h6>
                <p class="mb-4">Agile Malpani,Smartworks,Baner,Pune</p>
                <ul class="list-inline mt-4">
                    <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fab fa-2x fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fab fa-2x fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fab fa-2x fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fab fa-2x fa-youtube"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fab fa-2x fa-google"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="p-0 m-0 b-0">
    <div class="bg-light py-2">
        <div class="container text-center">
            <p class="text-muted mb-0 py-2">© 2022 All risghts reserved.</p>
        </div>
    </div>
</footer>