body {
    background: #ff5f6d;
    background-image: linear-gradient(#00004d, rgb(230, 214, 214), #00004d);
    min-height: 100vh;
    font-family: 'Sanchez', serif;
}

h6,a,p {
    color: white;
    font-size: 15px;
    text-decoration: none;
}