<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img src="/assets/img/auth.jpg" class="w-75 mx-auto d-block" />
        </div>

        <div class="col-md-6">
            <div class="card"
                style="width:400px;margin-top:50px;border-color:cadetblue;border-width:3px;background-color:ghostwhite;">
                <article class="card-body">
                    <form [formGroup]="forgetpassForm" class="mt-5">
                        <h2 class="text-primary text-center" style="font-size: 30px;">Forget Passowrd</h2>
                        <div class="form-group row">
                            <div class="form-group col-md-10">
                                <input type="text" class="form-control" formControlName="email"
                                [class.is-invalid]="getformControl.email.invalid && getformControl.email.touched" placeholder="Email">
                                <small *ngIf="getformControl.email.invalid && getformControl.email.touched"
                                    style="color: red;">
                                    <p>Email is required</p>
                                </small>
                            </div>
                            <br>
                           
                            
                        </div>
                      
                        
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
       ffhf
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
    </div>
                   <br>
                        <div class="form-group row">
                            <div class="form-group col-md-6" id="buttons">
                                <button type="submit"  [disabled]="!forgetpassForm.valid" class="btn btn-success" style=" margin-right: 5px;" data-toggle="modal fade" data-target="#exampleModalCenter">GetOTP</button>
                                <button type="submit" (click)="cancelForm()" class="btn btn-primary">Reset</button>
                               
                            </div>
                        </div>
                        <br>
                       
                    </form>
                </article>
            </div>

        </div>


        
    </div>
</div>