<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <img src="/assets/img/auth.jpg" class="w-75 mx-auto d-block" />
    </div>

    <div class="col-md-6">
      <div class="card">
        <article class="card-body">
          <form [formGroup]="forgetpassForm" class="mt-5">
            <h2 class="text-primary text-center" style="font-size: 30px">
              Forget Password
            </h2>
            <div class="form-group row">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  formControlName="email"
                  [class.is-invalid]="
                    getformControl.email.invalid && getformControl.email.touched
                  "
                  placeholder="Email"
                />
                <small
                  class="text-danger"
                  *ngIf="
                    getformControl.email.invalid && getformControl.email.touched
                  "
                >
                  Email is required
                </small>
              </div>
              <br />
            </div>
            <br />

            <div class="form-group row">
              <div class="form-group" id="buttons">
                <button
                  type="submit"
                  [disabled]="!forgetpassForm.valid"
                  class="btn btn-success"
                  style="margin-right: 5px"
                  (click)="submitForm()"
                >
                  Send Reset Password Link
                </button>
                <button
                  type="submit"
                  (click)="cancelForm()"
                  class="btn btn-primary"
                >
                  Reset
                </button>
              </div>
            </div>
          </form>
        </article>
        <ngx-spinner
          bdColor="rgba(0, 0, 0, 0.8)"
          size="medium"
          color="#fff"
          type="ball-spin"
          [fullScreen]="true"
          ><p style="color: white; font-size: 20px">
            Please Wait...
          </p></ngx-spinner
        >
      </div>
    </div>
  </div>
</div>
