<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img src="/assets/img/auth.jpg" class="w-75 mx-auto d-block" />
        </div>

        <div class="col-md-6">
            <div class="card"
                style="width:400px;margin-top:50px;border-color:cadetblue;border-width:3px;background-color:ghostwhite;">
                <article class="card-body">
                    <form [formGroup]="forgetpassForm" class="mt-5">
                        <h2 class="text-primary text-center" style="font-size: 30px;">Forget Passowrd</h2>
                        <div class="form-group row">
                            <div class="form-group col-md-10">
                                <input type="text" class="form-control" formControlName="email"
                                    [class.is-invalid]="getformControl.email.invalid && getformControl.email.touched"
                                    placeholder="Email">
                                <small class="text-danger"
                                    *ngIf="getformControl.email.invalid && getformControl.email.touched">
                                    Email is required
                                </small>
                            </div>
                            <br>
                        </div>
                        <br>

                        <div class="form-group row">
                            <div class="form-group col-md-6" id="buttons">
                                <button type="submit" [disabled]="!forgetpassForm.valid" class="btn btn-success"
                                    style=" margin-right: 5px;" data-toggle="modal fade"
                                    data-target="#exampleModalCenter" (click)="submitEmailForm()" (click)="openModal()">Get OTP</button>
                                <button type="submit" (click)="cancelEmailForm()" class="btn btn-primary">Reset</button>
                            </div>
                        </div>
                    </form>

                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}"
                        aria-labelledby="exampleModalCenterTitle">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="text-primary text-center" style="font-size: 30px;">Enter OTP :</h4>
                                </div>
                                <div class="modal-body">
                                    <form [formGroup]="confirmOTPForm" class="mt-5">
                                        <div class="form-group row">
                                            <div class="form-group col-md-10">
                                                <input type="text" class="form-control" formControlName="otp"
                                                    [class.is-invalid]="getOTPformControl.otp.invalid && getOTPformControl.otp.touched"
                                                    placeholder="Enter OTP">
                                                <small class="text-danger"
                                                    *ngIf="getOTPformControl.otp.invalid && getOTPformControl.otp.touched">
                                                    OTP is required
                                                </small>
                                            </div>
                                            <br>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" (click)="submitOTPForm()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

        </div>



    </div>
</div>