<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <img src="/assets/img/auth.jpg" class="w-75 mx-auto d-block" />
    </div>

    <div class="col-md-6">
      <div
        class="card"
        style="
          width: 400px;
          margin-top: 50px;
          border-color: cadetblue;
          border-width: 3px;
          background-color: ghostwhite;
        "
      >
        <article class="card-body">
          <form [formGroup]="setPasswordForm" class="mt-5">
            <h2
              class="text-primary text-center"
              style="font-size: 30px; margin-bottom: 10%"
            >
              Set New Password
            </h2>
            <div class="form-group row">
              <div class="form-group col-md-10">
                <label>New Password : </label>
                <input
                  type="password"
                  class="form-control"
                  formControlName="newPassword"
                  [class.is-invalid]="
                    getsetPasswordFormControls.newPassword.invalid &&
                    getsetPasswordFormControls.newPassword.touched
                  "
                  placeholder="New Password"
                />
                <div
                  *ngIf="
                    (getsetPasswordFormControls.newPassword.invalid &&
                      getsetPasswordFormControls.newPassword.touched) ||
                    getsetPasswordFormControls.newPassword.dirty
                  "
                >
                  <small
                    class="text-danger"
                    *ngIf="
                      getsetPasswordFormControls.newPassword.errors?.required
                    "
                    >New Password is required</small
                  >
                  <small
                    class="text-danger"
                    *ngIf="
                      getsetPasswordFormControls.newPassword.errors?.minlength
                    "
                    >New Password must be at least 8 characters</small
                  >
                </div>
              </div>
              <br />
              <div class="form-group col-md-10" style="margin-top: 20px">
                <label>Confirm Password : </label>
                <input
                  type="password"
                  class="form-control"
                  formControlName="confirmPassword"
                  [class.is-invalid]="
                    getsetPasswordFormControls.confirmPassword.invalid &&
                    getsetPasswordFormControls.confirmPassword.touched
                  "
                  placeholder="Confirm Password"
                />
                <div
                  class="text-danger"
                  *ngIf="
                    getsetPasswordFormControls.confirmPassword.errors &&
                    getsetPasswordFormControls.confirmPassword.invalid
                  "
                >
                  <small
                    *ngIf="
                      getsetPasswordFormControls.confirmPassword.errors
                        .customValidator
                    "
                    >Password and Confirm Password must be match</small
                  >
                </div>
              </div>
            </div>
            <br />
            <div class="form-group row">
              <div class="form-group col-md-6" id="buttons">
                <button
                  type="submit"
                  (click)="submitForm()"
                  [disabled]="!setPasswordForm.valid"
                  class="btn btn-success"
                  style="margin-right: 5px"
                >
                  Submit
                </button>

                <button
                  type="submit"
                  (click)="cancelForm()"
                  class="btn btn-primary"
                >
                  Reset
                </button>
              </div>
            </div>
          </form>
        </article>
      </div>
    </div>
  </div>
</div>
