.col-md-3 {
  width: 3%;
  padding: 0px 0px 0px 0px;
}
.col-md-3:hover {
  width: 17%;
  /* transition: all 0.4s ease; */
}
#featured-3 {
  padding: 0px 0px 0px 0px;
}
.col-md-9 {
  width: 83%;
  padding: 0px 0px 0px 6px;
}
