<div class="container-fluid">
  <div class="row" style="margin-left: 35%; margin-bottom: 20px">
    <div class="col-md-6">
      <div
        class="card"
        style="
          width: 400px;
          margin-top: 50px;
          border-color: cadetblue;
          border-width: 3px;
          background-color: ghostwhite;
        "
      >
        <article class="card-body">
          <form [formGroup]="createAccountForm" class="mt-5">
            <h2
              class="text-primary text-center"
              style="font-size: 30px; margin-bottom: 10%"
            >
              Create Account
            </h2>
            <div class="form-group row">
              <div class="form-group col-md-10">
                <label style="margin-left: 10%; font-size: 17px"
                  >Account Type :</label
                >
                <select
                  class="form-select"
                  aria-label="Default select example"
                  formControlName="accountType"
                >
                  <option disabled selected value="">
                    Select Account Type
                  </option>
                  <option value="current">Currrent</option>
                  <option value="saving">Saving</option>
                </select>
                <small
                  class="text-danger"
                  style="margin-left: 10%"
                  *ngIf="
                    getaccountFormControls.accountType.invalid &&
                    getaccountFormControls.accountType.touched
                  "
                >
                  Account Type is required
                </small>
              </div>
              <br />
              <div class="form-group col-md-10">
                <label style="margin-left: 10%; font-size: 17px"
                  >Balance :</label
                >
                <input
                  type="number"
                  min="0"
                  oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                  class="form-control"
                  formControlName="balance"
                  [class.is-invalid]="
                    getaccountFormControls.balance.invalid &&
                    getaccountFormControls.balance.touched
                  "
                  placeholder="₹   Balance"
                />
                <small
                  class="text-danger"
                  style="margin-left: 10%"
                  *ngIf="
                    getaccountFormControls.balance.invalid &&
                    getaccountFormControls.balance.touched
                  "
                >
                  Balance is required
                </small>
              </div>
            </div>
            <br />

            <br />
            <div class="form-group row">
              <div class="form-group col-md-6" id="buttons">
                <button
                  type="submit"
                  (click)="submitForm()"
                  [disabled]="!createAccountForm.valid"
                  class="btn btn-success"
                  style="margin-right: 5px"
                >
                  Submit
                </button>

                <button
                  type="submit"
                  (click)="cancelForm()"
                  class="btn btn-primary"
                >
                  Reset
                </button>
              </div>
            </div>
            <br />
          </form>
        </article>
      </div>
    </div>
  </div>
</div>
