<button class="btn btn-primary" routerLink="../create-account">
  Add Account
</button>
<br />
<br />
<table class="table">
  <tr>
    <td>Account ID</td>
    <td>Account Type</td>
    <td>Account Creation Date</td>
    <td>Balance</td>
  </tr>
  <tr *ngFor="let item of accounts">
    <td>{{ item.accountId }}</td>
    <td>{{ item.accountType }}</td>
    <td>{{ item.dateCreated }}</td>
    <td>{{ item.balance }}</td>
  </tr>
</table>

<ag-grid-angular
  style="width: 100%; height: 100%"
  class="ag-theme-balham"
  [columnDefs]="columnDefs"
  [rowData]="accounts"
>
</ag-grid-angular>
