<button class="btn btn-primary" routerLink="../create-account">
  Add Account
</button>
<br />
<br />
<table class="table">
  <tr>
    <th>Account ID</th>
    <th>Account Status</th>
    <th>Account Type</th>
    <th>Balance</th>
    <th>Account Creation Date</th>
  </tr>
  <tr *ngFor="let item of accounts; let i = index">
    <td>{{ item.accountId }}</td>
    <td>{{ item.accountStatus }}</td>
    <td>{{ item.accountType }}</td>
    <td>{{ item.balance }}</td>
    <td>{{ item.dateCreated }}</td>
  </tr>
</table>

<!-- <ag-grid-angular 
    style="width:100%; height: 100%;" 
    class="ag-theme-balham"
    [columnDefs]="columnDefs"
    [rowData]="accounts">
</ag-grid-angular> -->
