<article class="card-body">
    <form [formGroup]="fileForm" class="mt-5">
      <h2 class="mb-3 text-primary">
        <p class="text-center" style="font-size: 30px; margin-bottom: 5%">
          FILE
        </p>
      </h2>
        {{userId}}
      <div class="form-group row">
        <div class="col">
          <label>PAN Card :</label>
          <input type="file" file-model="file"
          class="form-control" accept="image/*"
          (change)="enableUpload()" 
          formControlName="file" placeholder="file"  />
          <button (click)="uploadFile(fileForm)" [disabled]="!filePresent"  class="btn btn-primary btn-small" style="margin-left: 85%">Upload</button>
        </div>
      </div>
    </form>
  </article>

