<br />
<div class="container">
  <div class="row" style="margin-left: 20%">
    <div class="col-md-6">
      <div class="card" style="
          width: 600px;
          margin-bottom: 20px;
          border-color: cadetblue;
          border-width: 3px;
          background-color: ghostwhite;
        "
      >
        <article class="card-body">
          <form [formGroup]="createLoanForm" class="mt-5">
            <h2 class="mb-3 text-primary">
              <p class="text-center" style="font-size: 30px; margin-bottom: 5%">
                Loan
              </p>
            </h2>
            <div class="form-group row">
              <label>Amount : </label>
              <input type="number" class="form-control" formControlName="amount" placeholder="Amount" />
            </div>
            <br />
            <div class="form-group row">
            <select class="form-select form-select-lg mb-3"
            aria-label=".form-select-lg example" [(ngModel)]="loanPurpose" (change)="updateInterestRate();calculateEMI()" formControlName="purpose">
              <option *ngFor="let item of purposes" [ngValue]="item">{{item.name}}</option>
            </select>
          </div>
          <div class="form-group row">
            <select class="form-select form-select-lg mb-3"
            aria-label=".form-select-lg example" [(ngModel)]="tenure" (change)="updateInterest() ;calculateEMI()" formControlName="tenure">
              <option *ngFor="let item of tenures" [ngValue]="item">{{item.name}}</option>
            </select>
          </div>
          <div class="form-group row">
            <input type="number"  class="form-control" formControlName="account" placeholder="Account Number for EMI">
          </div>
            <div class="form-group row">
              Interest Rate:{{interestRate}} %
              <br/>
              Monthly EMI: {{monthlyEMI}}
            </div>
            <br />
            <div class="form-group row" style="margin-left: 35%">
              <div class="form-group col-md-6" id="buttons">
                <button type="submit" class="btn btn-success"
                (click)="createLoan()"
                >Submit</button>

                <button type="submit" class="btn btn-primary" style="margin-left: 10%">
                  Reset
                </button>
              </div>
            </div>
          </form>
        </article>
      </div>
    </div>
  </div>
</div>