.sidenav {
  width: 100%;
  padding-top: 5px;
  background-size: cover;
}
.dashboardContent {
  border-radius: 0px 0px 0px 0px;
  height: 100%;
  background-color: rgb(42, 125, 202);
  background-image: linear-gradient(
    to right,
    rgb(9, 64, 247),
    rgb(137, 207, 240)
  );
}
.sidenav a {
  padding: 8px 6px 8px 6px;
  text-decoration: none;
  font-size: 20px;
  color: #fff6f6;
  display: block;
}

.sidenav a:hover {
  color: #743f3f;
}

.main {
  margin-left: 200px;
}
.sidenav svg {
  margin: 5px 0px 5px 5px;
}

.nav {
  padding-left: 16px;
}
