<div class="dashboardContent">
  <div class="sidenav">
    <div class="nav">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30px"
        height="30px"
        fill="currentColor"
        class="bi bi-house-fill"
        viewBox="0 0 20 20"
      >
        <path
          fill-rule="evenodd"
          d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"
        />
        <path
          fill-rule="evenodd"
          d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"
        />
      </svg>
      <a routerLink="./home" routerLinkActive="active">Home</a>
    </div>

    <div class="nav">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30px"
        height="30px"
        fill="currentColor"
        class="bi bi-person-fill"
        viewBox="0 0 20 20"
      >
        <path
          d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
        />
      </svg>
      <a routerLink="./profile" routerLinkActive="active">Profile</a>
    </div>

    <div class="nav">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30px"
        height="30px"
        fill="currentColor"
        class="bi bi-bar-chart-line"
        viewBox="0 0 20 20"
      >
        <path
          d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z"
        />
      </svg>
      <a routerLink="./account-details" routerLinkActive="active">Account</a>
    </div>

    <div class="nav">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30px"
        height="30px"
        fill="currentColor"
        class="bi bi-card-heading"
        viewBox="0 0 20 20"
      >
        <path
          d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"
        />
        <path
          d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z"
        />
      </svg>
      <a routerLink="./loan-details" routerLinkActive="Loan">Loan</a>
    </div>

    <div class="nav">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30px"
        height="30px"
        fill="currentColor"
        class="bi bi-box-arrow-in-right"
        viewBox="0 0 20 20"
      >
        <path
          fill-rule="evenodd"
          d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
        />
        <path
          fill-rule="evenodd"
          d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
        />
      </svg>
      <a routerLink="./fund-transfer" routerLinkActive="active"
        >Fund Transfer</a
      >
    </div>

    <div class="nav">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30px"
        height="30px"
        fill="currentColor"
        class="bi bi-card-list"
        viewBox="0 0 20 20"
      >
        <path
          d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"
        />
        <path
          d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"
        />
      </svg>
      <a routerLink="./account-statement" routerLinkActive="active"
        >Account Statements</a
      >
    </div>
  </div>
</div>
