<div class="container">
    <br>
        <h3 style="text-align: center;">SignUp</h3>
        <form [formGroup]="signupForm">
            <div class="form-group row">
                <div class="col">
                    <label>Firstname : </label>
                    <input type="text" class="form-control" formControlName="firstname" placeholder="First name">
                    <div *ngIf="getSignupFormControls.firstname.invalid && getSignupFormControls.firstname.touched" style="color: red;">
                        Firstname is required
                    </div> 
                </div>
                <div class="col">
                    <label>Lastname : </label>
                    <input type="text" class="form-control" formControlName="lastname" placeholder="Last name">
                    <div *ngIf="getSignupFormControls.lastname.invalid && getSignupFormControls.lastname.touched" style="color: red;">
                        Lastname is required
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="col">
                    <label>Email</label>
                    <small style="margin-left: 5px;">(Note : Please provide your valid email for receving further details) :</small>
                    <input type="text" class="form-control" formControlName="email" placeholder="Personal Email">
                    <div *ngIf="getSignupFormControls.email.invalid && getSignupFormControls.email.touched" style="color: red;">
                        Email is required
                    </div>
                </div>
                <div class="col">
                    <label>Phone Number : </label>
                    <input type="text" class="form-control" formControlName="phoneno" placeholder="Phone Number">
                    <div *ngIf="getSignupFormControls.phoneno.invalid && getSignupFormControls.phoneno.touched" style="color: red;">
                        Phone number is required
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="col">
                    <label>Date Of Birth :</label>
                    <input type="date" class="form-control" formControlName="dateofbirth">
                    <div *ngIf="getSignupFormControls.dateofbirth.invalid && getSignupFormControls.dateofbirth.touched" style="color: red;">
                        Date Of Birth is required
                    </div>
                </div>
                <div class="col">
                    <label>Password : </label>
                    <input type="password" class="form-control" formControlName="password" placeholder="password">
                    <div *ngIf="getSignupFormControls.password.invalid && getSignupFormControls.password.touched" style="color: red;">
                        password is required
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="col">
                    <button type="submit" style="margin-left: 90%;" (click)="submitForm()" [disabled]="signupForm.valid" class="btn btn-success">Submit</button>
                </div>
                <div class="col">
                    <button type="submit" style="margin-right: 45%;" (click)="cancelForm()" class="btn btn-primary">Cancel</button>
                </div>
            </div>
            <br>
        </form>

        <table>
            <tr>
                <td>ID</td>
                <td>name</td>
                <td>salary</td>
            </tr>
            <tr *ngFor="let i of user;">
                <td>{{i.employeeId}}</td>
                <td>{{i.employeeName}}</td>
                <td>{{i.salary}}</td>
            </tr>
        </table>
    </div>