<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img src="/assets/img/auth.jpg" class="w-75 mx-auto d-block" />
        </div>
        <div class="col-md-6">
            <div class="card"
                style="width:600px;margin-top:40px;margin-bottom:20px;border-color:cadetblue;border-width:3px;background-color:ghostwhite;">
                <article class="card-body">
                    <form [formGroup]="signupForm" class="mt-5">
                        <h2 class="mb-3 text-primary">
                            <p class="text-center" style="font-size: 30px; margin-bottom: 5%;">Sign Up</p>
                        </h2>
                        <div class="form-group row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Firstname :</label>
                                <input type="text" class="form-control" formControlName="firstname"
                                    [class.is-invalid]="getSignupFormControls.firstname.invalid && getSignupFormControls.firstname.touched"
                                    placeholder="Firstname">
                                <small class="text-danger"
                                    *ngIf="getSignupFormControls.firstname.invalid && getSignupFormControls.firstname.touched">
                                    Firstname is required
                                </small>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Lastname :</label>
                                <input type="text" class="form-control" formControlName="lastname"
                                    [class.is-invalid]="getSignupFormControls.lastname.invalid && getSignupFormControls.lastname.touched"
                                    placeholder="Lastname">
                                <small class="text-danger"
                                    *ngIf="getSignupFormControls.lastname.invalid && getSignupFormControls.lastname.touched">
                                    Lastname is required
                                </small>
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">

                            <br>
                            <div class="col">
                                <div class="back">
                                    <label style="margin-bottom: 5px;">Gender :</label>
                                    <br>
                                    <input type="radio" name="gender" value="male" formControlName="gender"> Male
                                    <input type="radio" name="gender" value="female" formControlName="gender"> Female
                                </div>
                                <small class="text-danger"
                                    *ngIf="getSignupFormControls.gender.invalid && getSignupFormControls.gender.touched">
                                    Gender is required
                                </small>
                            </div>


                            <div class="col" style="margin-left: 10px;">
                                <div class="back">
                                    <label>Age:</label>
                                    <mat-slider thumbLabel [displayWith]="formatLabel" formControlName="age"
                                        tickInterval="1000" step="1" min="0" max="100" aria-label="units">
                                    </mat-slider>
                                </div>
                            </div>


                        </div>
                        <br>
                        <div class="form-group row" style="margin-bottom: 10px;">
                            <div class="col">
                                <label>Date Of Birth :</label>
                                <input type="date" class="form-control"
                                    [class.is-invalid]="getSignupFormControls.dateofbirth.invalid && getSignupFormControls.dateofbirth.touched"
                                    formControlName="dateofbirth">
                                <small class="text-danger"
                                    *ngIf="getSignupFormControls.dateofbirth.invalid && getSignupFormControls.dateofbirth.touched">
                                    Date Of Birth is required
                                </small>
                            </div>

                            <div class="col">
                                <label>Phone Number : </label>
                                <input type="number"
                                    [class.is-invalid]="getSignupFormControls.phoneno.invalid && getSignupFormControls.phoneno.touched"
                                    class="form-control" formControlName="phoneno" placeholder="Phone numer" />
                                <div
                                    *ngIf="(getSignupFormControls.phoneno.invalid && getSignupFormControls.phoneno.touched) || getSignupFormControls.phoneno.dirty">
                                    <small class="text-danger"
                                        *ngIf="getSignupFormControls.phoneno.errors?.required">Phoneno is required</small>
                                    <small class="text-danger"
                                        *ngIf="getSignupFormControls.phoneno.errors?.pattern">Phoneno must be 10 digit</small>
                                </div>
                            </div>
                        </div>
                        
                        <br>
                        <div class="form-group row" style="margin-bottom: 10px;">
                            <div class="col-md-6">
                                <label>Addresses :</label>
                                <div class="input-row"
                                    *ngFor="let index of getSignupFormControls.addresses.value index as idx;  last as isLast">
                                    <!-- <mat-form-field>
                                        <input matInput [formControl]="index">
                                        <mat-error *ngIf="index.errors?.required">Address</mat-error>
                                    </mat-form-field> -->
                                    <input type="text" class="form-control" [formControl]="index" formControlName="addresses"
                                    [class.is-invalid]="getSignupFormControls.addresses.invalid && getSignupFormControls.addresses.touched"
                                    placeholder="address">

                                    <button mat-icon-button color="warn" *ngIf="getSignupFormControls.addresses.value.length > 1"
                                        (click)="removeInputControl(idx)">
                                        <mat-icon>remove_circle</mat-icon>
                                    </button>
                                    <button mat-icon-button color="primary" *ngIf="isLast" (click)="addInputControl()">
                                        <mat-icon>add_circle</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <div class="col">
                                <label>Email :</label>
                                <input type="email"
                                    [class.is-invalid]="getSignupFormControls.email.invalid && getSignupFormControls.email.touched"
                                    class="form-control" formControlName="email" placeholder="Email" />
                                <div
                                    *ngIf="(getSignupFormControls.email.invalid && getSignupFormControls.email.touched) || getSignupFormControls.email.dirty">
                                    <small class="text-danger"
                                        *ngIf="getSignupFormControls.email.errors?.required">Email is required</small>
                                    <small class="text-danger" *ngIf="getSignupFormControls.email.errors?.pattern">Email is invalid</small>
                                </div>
                            </div>
                            <div class="col">
                                <label>Password : </label>
                                <input type="password" class="form-control" formControlName="password"
                                    [class.is-invalid]="getSignupFormControls.password.invalid && getSignupFormControls.password.touched"
                                    placeholder="Password">
                                <div
                                    *ngIf="(getSignupFormControls.password.invalid && getSignupFormControls.password.touched) || getSignupFormControls.password.dirty">
                                    <small class="text-danger"
                                        *ngIf="getSignupFormControls.password.errors?.required">Password is required</small>
                                    <small class="text-danger"
                                        *ngIf="getSignupFormControls.password.errors?.minlength">Password must be at least 8 characters</small>
                                </div>
                            </div>

                        </div>
                        <br>
                        <div class="form-group row">
                            <div class="form-group col-md-6" id="buttons">
                                <button type="submit" (click)="submitForm()" 
                                    class="btn btn-success" style=" margin-right: 5px;">Submit</button>

                                <button type="submit" (click)="cancelForm()" class="btn btn-primary">Reset</button>
                            </div>
                        </div>
                        <br>
                        <a style="color:white; margin-top: 10px" routerLink="/login">
                            <h4 style="color:blue; margin-left: 160px;">Already Registered? Click to Login</h4>
                        </a>
                    </form>
                </article>
            </div>
        </div>

    </div>
</div>