<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img src="/assets/img/auth.jpg" class="w-75 mx-auto d-block"/>
        </div> 
        <div class="col-md-6"> 
            <form [formGroup]="signupForm" class="mt-5">
                <h2 class="mb-3 text-primary" ><p class="text-center">Sign Up</p></h2>
                <div class="form-group row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Firstname:</label>
                        <input type="text" class="form-control" formControlName="firstname" placeholder="First name">
                        <div *ngIf="getSignupFormControls.firstname.invalid && getSignupFormControls.firstname.touched"  style="color: red;">
                            Firstname is required
                        </div> 
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Lastname:</label>
                        <input type="text" class="form-control" formControlName="lastname" placeholder="Last name">
                        <div *ngIf="getSignupFormControls.lastname.invalid && getSignupFormControls.lastname.touched" style="color: red;">
                            Last name is required
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <div class="col">
                        <label>Email</label>
                        <small style="margin-left: 5px;">(Note : Please provide your valid email) :</small>
                        <input type="text" class="form-control" formControlName="email" placeholder="Personal Email">
                        <div *ngIf="getSignupFormControls.email.invalid && getSignupFormControls.email.touched" style="color: red;">
                            Email is required
                        </div>
                    
                    </div>
                    <div class="col">
                        <label>Phone Number : </label>
                        <input type="text" class="form-control" formControlName="phoneno" placeholder="Phone Number">
                        <div *ngIf="getSignupFormControls.phoneno.invalid && getSignupFormControls.phoneno.touched" style="color: red;">
                            Phone number is required
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <div class="col">
                        <label>Date Of Birth :</label>
                        <input type="date" class="form-control" formControlName="dateofbirth">
                        <div *ngIf="getSignupFormControls.dateofbirth.invalid && getSignupFormControls.dateofbirth.touched" style="color: red;">
                            Date Of Birth is required
                        </div>
                    </div>
                    <div class="col">
                        <label>Password : </label>
                        <input type="password" class="form-control" formControlName="password" placeholder="password">
                        <div *ngIf="getSignupFormControls.password.invalid && getSignupFormControls.password.touched" style="color: red;" >
                            Password is required & must be at least 8 characters
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <div class="form-group col-md-6">
                        <button type="submit" (click)="submitForm()" [disabled]="!signupForm.valid" class="btn btn-success">Submit</button>
                    </div>
                   
                    <div class="form-group col-md-6">
                        <button type="submit" (click)="cancelForm()" class="btn btn-primary">Cancel</button>
                    </div> 
                </div>
                <br>
            </form>
        </div>
      
    </div>
</div>


    





