.back{
    background-color:ghostwhite;
}
mat-slider {
    width: 200px;
    margin-left: 10px;
  }
  
#buttons{
    margin-left:200px;
}

.input-row {
    display: flex;
    align-items: center;
}
    