<div class="container">
  <div class="row">
    <div class="col">
      <br />
      <button class="btn btn-primary" routerLink="../create-loan">
        Apply For Loan
      </button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="card" style="margin-left: 3%; width: 95%">
      <p-table [value]="loans" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            Loan Details
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Loan Id</th>
            <th>Loan Amount</th>
            <th>Purpose</th>
            <th>Remaining Amount</th>
            <th>Interest</th>
            <th>Tenure in Months</th>
            <th>Monthly EMI</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-loan>
          <tr>
            <td>{{ loan.loanId }}</td>
            <td>{{ loan.loanAmount | currency: "INR":"symbol" }}</td>
            <td>{{ loan.loanPurpose }}</td>
            <td>{{ loan.remainingAmount | currency: "INR":"symbol" }}</td>
            <td>{{ loan.interest }} %</td>
            <td>{{ loan.tenureInMonths }}</td>
            <td>{{ loan.monthlyEMI | currency: "INR":"symbol" }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
