<div class="container">
  <div class="row">
    <div class="col">
      <br />
      <button class="btn btn-primary" routerLink="../create-loan">
        ADD Loan
      </button>
    </div>

    <!-- <div class="row">
      <div class="card">
        <p-table [value]="accounts" responsiveLayout="scroll">
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
              Account Details
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Account Id</th>
              <th>Account Status</th>
              <th>Account Type</th>
              <th>Balance</th>
              <th>Account Creation Date</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-account>
            <tr>
              <td>
                <button
                  class="btn btn-outline-primary"
                  (click)="submitForm(account.accountId)"
                >
                  {{ account.accountId }}
                </button>
              </td>
              <td>{{ account.accountStatus }}</td>
              <td>{{ account.accountType }}</td>
              <td>{{ account.balance }}</td>
              <td>{{ account.dateCreated }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div> -->

  </div>
</div>
